/**
 * COLORS
 */
/* General */
// Text Custom Colors
.text-main {
	color: $cc-main !important;
}
.text-lgray {
	color: $gray-light;
}
// Background Custom Colors
// Primary
.bg-ccprimary {
	background-color: $cc-primary;
}
// Secondary
.bg-ccsecondary {
	background-color: $cc-secondary;
}
// Main
.bg-main {
	background-color: $cc-main;
}
// Green
.bg-green {
	background-color: $cc-green;
}
// DGreen
.bg-dgreen {
	background-color: $cc-dgreen;
}
// Dark
.bg-dark {
	background-color: $dark !important;
}
// Transparent
.bg-transparent {
	background-color: transparent !important;
}
/* Custom Buttons */
.btn {
	border-radius: 3px;
}
// Primary
.btn-ccprimary {
	background-color: $cc-primary !important;
	color: $cream !important;
	&:hover {
		background-color: lighten($cc-primary, 15%) !important;
	}
}
// Secondary
.btn-ccsecondary {
	background-color: $cc-secondary !important;
	&:hover {
		background-color: lighten($cc-secondary, 15%) !important;
	}
}
// Main
.btn-main {
	background-color: $cc-main !important;
	color: $cream !important;
	&:hover {
		background-color: lighten($cc-main, 15%) !important;
	}
}
.btn-outline-main {
	background-color: transparent !important;
	color: $dark !important;
	border: 1px solid $cc-main;
	&:hover {
		background-color: $cc-main !important;
		color: $cream !important;
		a {
			color: $cream !important;
		}
	}
}
// Dark Green
.btn-dgreen {
	background-color: $cc-dgreen !important;
	color: $cream !important;
	&:hover {
		background-color: lighten($cc-dgreen, 15%) !important;
	}
}
.btn-outline-dgreen {
	background-color: transparent !important;
	color: $cream !important;
	border: 1px solid $cc-dgreen;
	&:hover {
		background-color: $cc-dgreen !important;
		color: $cream !important;
	}
}
// Green with hover DGreen
.btn-green-dgreen {
	background-color: $cc-green;
	color: $cream !important;
	&:hover {
		background-color: $cc-dgreen !important;
	}
}
// Narrativa
.btn-outline-narrativa {
	background-color: transparent !important;
	color: $cream !important;
	border:1px solid $cc-secondary;
	&:hover {
		background-color: $cc-secondary !important;
		color: $cream !important;
	}
}
/* Navbar */
.bg-navbar {
	background-color: $navbar-bg;
}