#wrapper-footer {
	.container-full {
		.row {
			div {
				a#footer-contacto {
					color:$cc-secondary;
					text-decoration: none;
					display: block;
					&:hover {
						background-color: $cc-main;
						color: $cc-primary;
						font-weight: bold;
						transition: ease 0.765s;
					}
				}
			}
			div {
				span {
					b {
						font-weight:bold;
						opacity: 0.3;
						display: none;			
					}
					h3.logo {
						a {}
					}
				}
			}
			div {
				ul {
					li {
						a {
							color:$cc-secondary;
						}
						a.facebook {
							&:hover{
								color: #3b5998 !important;								
							}
						}
						a.instagram {
							&:hover{
								color: #cd486b !important;								
							}
						}
						a.twitter {
							&:hover{
								color: #55acee !important;								
							}
						}
						a.google {
							&:hover{
								color: #dd4b39 !important;								
							}
						}
						a.envelope {
							&:hover{
								color: $cream !important;								
							}
						}
					}
				}
			}
		}
	}
}
#wrapper-footer-full {
	background-color: $cc-secondary;
	.container-full {
		.row {
			.footer-widget {
				border:1rem solid transparent;
				padding: 5rem 0rem;
				a {
					color: $cream;
				}
				h3.widget-title {}
				.calendar_wrap {
					table#wp-calendar {
						margin:auto;
						caption {
							font-size: 1.5rem;
							color: $white;
							background-color: $cc-dgreen;
							text-align: center;
						}
						tbody {
							tr {
								td {
									a {
										color: $cc-green;
										background-color: $cream;
										border-radius: 50px;
										padding: 1px 3px;
										text-decoration: none;
										font-weight:bold;
										&:hover {
											background-color: $cc-dgreen;
											color: $white;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}