.navbar-brand.logo {
	font-size: 3rem;
	font-family: 'Cinzel', serif !important;
	letter-spacing: 5px;
	font-weight: bold;
	color: $cc-main !important;
    line-height: 200%;
    padding:3.5rem;
}
@media (max-width: 526px) {
    .navbar-brand.logo {
        font-size: 1.9rem;
        display: block;
        width: 100%;
        text-align: center;
    }
    button.navbar-toggler {
        margin: auto;
    }
}
@media (max-width: 1092px) {
    .navbar-brand.logo {
    	font-size: 2.5rem;
    }
}
.logo {
    font-family: 'Cinzel', serif !important;
    letter-spacing: 5px;
    font-weight: bold;
    color: $cc-main !important;
    a {
        color: $cc-main !important;
        text-decoration: none;
    }
}