.wrapper-navbar {
	nav.navbar {
		background-color: $navbar-bg;
		a.navbar-brand {}
		ul.navbar-nav {
			li.menu-item {
				text-align:center;
				margin-left: 5px;
				&:hover {
					a {
						color: $cc-green;
						
					}
				}
				a.nav-link {}
			}
			li.menu-item.active {
				a {
					color: $cc-dgreen !important;
				}
			}
		}
	}
}
