#frontpage-aside {
    .row {
        .gallery-inicio {
            max-height: 970px;
            overflow:hidden;
            display:flex;
            justify-content: center;
            text-align:center;
            align-items:center;
        }
    }
}